app/home.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/slick/slick.css"/>
    <link rel="stylesheet" href="./assets/js/slick/slick-theme.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>Document</title>
  </head>
  <body class="class">
    <div class="header-wrap">
      <div class="header-fixed">
        <div class="header-bg"></div>
        <div class="header-cnt"><a class="header-logo" href="home.html"><img class="header-logo-desktop" src="./assets/img/logo-1.png" alt=""/><img class="header-logo-scroll" src="./assets/img/logo-1.png" alt=""/></a>
          <div class="header-cnt-list">
            <ul class="header-list nav-scroll">
              <li class="header-item"><a class="header-link" href="#home">Inicio</a></li>
              <li class="header-item"><a class="header-link" href="#nosotros">Nosotros</a></li>
              <li class="header-item"><a class="header-link" href="#team">Informate</a></li>
              <li class="header-item"><a class="header-link" href="#chat">Consultas</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-mobile-open icon-menu"></div>
    <div class="menu-mobile-close icon-close"></div>
    <div class="header-menu-overlay"></div>
    <div class="menu-sidebar">
      <div class="menu-sidebar-cnt"></div>
    </div>
    <section class="home" id="home">
      <div class="banner-home">
        <ul class="box-banner">
          <li class="banner-bgc" style="background-image: url('./assets/img/banner.svg')">
            <!--.banner__bgc__wrapp
            .banner__content__box
            	p Información
            	h3 Simple, directa y confiable
            .banner__button.nav-scroll
            	a(href="#nosotros")
            		.button__banner
            			.button__banner__img
            				img(src=`${STATIC_URL}img/1.png`, alt="")
            			.button__text
            				p ¿Quienes somos?
            -->
          </li>
          <!--li.banner-bgc(style=`background-image: url('${STATIC_URL}img/banner.png')`)
          .banner__bgc__wrapp
          	.banner__content__box
          		p Información
          		h3 Simple, directa y confiable
          	.banner__button.nav-scroll
          		a(href="#team")
          			.button__banner
          				.button__banner__img
          					img(src=`${STATIC_URL}img/1.png`, alt="")
          				.button__text
          					p Equipo
          -->
          <!--li.banner-bgc(style=`background-image: url('${STATIC_URL}img/banner.png')`)
          .banner__bgc__wrapp
          	.banner__content__box
          		p Información
          		h3 Simple, directa y confiable
          	.banner__button.nav-scroll
          		a(href="#chat")
          			.button__banner
          				.button__banner__img
          					img(src=`${STATIC_URL}img/lapiz.png`, alt="")
          				.button__text
          					p Preguntas
          -->
        </ul>
        <div class="bloque__blue">
          <div class="bloque__blue__text">
            <p>www.veninformado.pe</p>
          </div>
        </div>
      </div>
      <div class="nav-page nav-scroll">
        <div class="nav-page-wrap">
          <div class="nav__item">
            <ul>
              <li><a href="#nosotros">Nosotros</a></li>
              <li><a href="#team">Informate</a></li>
              <li><a href="#chat">Consultas</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="scroll-home">
      <section class="nosotros" id="nosotros">
        <div class="nosotros__blck">
          <div class="nosotros__title">
            <h2>¿Quiénes somos?</h2>
          </div>
          <div class="nosotros__text">
            <p>Migrar es un proceso complejo que requiere información y preparación. En Ven Informado, buscamos consolidar toda la información necesaria en un solo lugar para ayudarte a preparar y consolidar con éxito tu nuevo proyecto de vida en Perú.</p>
          </div>
        </div>
      </section>
      <section class="team" id="team">
        <div class="team__block">
          <div class="team__text">
            <div class="team__title">
              <h2>Informate</h2>
            </div>
            <div class="team__parrafo">
              <p>Estamos construyendo esta página web para darte información variada que te pueda ser de utilidad para comenzar una nueva vida en Perú. Mientras desarrollamos más contenido, te facilitamos algunos links de interés.</p>
            </div>
            <div class="team__slider">
              <ul class="team__box__slider">
                <li class="team__item__slider">
                  <div class="logo__team">
                    <div class="logo__team__img">
                      <h2>Interpol</h2>
                    </div>
                  </div>
                  <div class="text__slider__team">
                    <p>
                      Interpol conoce la información sobre la Ficha de Canje Internacional para el proceso de PTP	<a href="https://www.policia.gob.pe/direcciones_policiales/interpol_peru/index.html#">link</a></p>
                  </div>
                </li>
                <li class="team__item__slider">
                  <div class="logo__team">
                    <div class="logo__team__img">
                      <h2>HELP ACNUR</h2>
                    </div>
                  </div>
                  <div class="text__slider__team">
                    <p>
                      - ACNUR es la agencia de la ONU para los Refugiados, conoce su trabajo.	<a href="http://help.unhcr.org/peru/">link</a></p>
                    <p>
                      - ACNUR conoce el trabajo que hace por los venezolanos.	<a href="http://www.acnur.org/noticias/videos/2018/7/5b4960914/accion-en-la-frontera-que-necesitan-los-venezolanos-cuando-llegan-a-peru.html">link</a></p>
                  </div>
                </li>
                <li class="team__item__slider">
                  <div class="logo__team">
                    <div class="logo__team__img">
                      <h2>Enlace sobre salud</h2>
                    </div>
                  </div>
                  <div class="text__slider__team">
                    <p>
                      - SIS es el Sistema de Salud de Perú, conoce más información (link)	<a href="http://www.sis.gob.pe/Portal/productos/sisindependiente/index.html">link</a></p>
                  </div>
                </li>
                <li class="team__item__slider">
                  <div class="logo__team">
                    <div class="logo__team__img">
                      <h2>Trámites Migratorios</h2>
                    </div>
                  </div>
                  <div class="text__slider__team">
                    <p>
                      - Información general sobre el PTP.	<a href="https://www.gob.pe/634-sacar-permiso-temporal-de-permanencia-ptp-para-venezolanos">link</a></p>
                    <p>
                      - Conoce los pasos y solicita tu cita en línea para el PTP. 	<a href="https://www.migraciones.gob.pe/index.php/ptp-venezolanos-3/">link</a></p>
                    <p>
                      - Solicita el Permiso de Trabajo Extraordinario, para que pueda trabajar formalmente.	<a href="https://sel.migraciones.gob.pe/web-permiso-trabajo/Citas-en-Linea-Terminos">link</a></p>
                  </div>
                </li>
                <li class="team__item__slider">
                  <div class="logo__team">
                    <div class="logo__team__img">
                      <h2>Otros enlaces de interés</h2>
                    </div>
                  </div>
                  <div class="text__slider__team">
                    <p>
                      - Trabajar en Perú: conoce toda la información legal.	<a href="http://www.mintra.gob.pe/migrante/eres_extranjero_vive_peru_tramites_1.php">link</a></p>
                    <p>
                      - Solicita tu permiso para firmar contratos. 	<a href="https://www.migraciones.gob.pe/index.php/permiso-especial-para-firmar-contratos-pefc/">link</a></p>
                    <p>
                      - Estudiar en Perú: conoce los pasos que debes realizar.	<a href="https://www.gob.pe/477-revalidar-o-convalidar-estudios-primarios-y-o-secundarios-del-extranjero">link</a></p>
                    <p>
                      - Revalidación de títulos universitarios venezolanos en Perú.	<a href="https://enlinea.sunedu.gob.pe/orientacionreconocimiento">link</a></p>
                    <p>
                      - Procedimiento para conducir en Perú.	<a href="http://www.touring.pe/centro_examenes_otropais.html">link</a></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--.team__vectorimg(src=`${STATIC_URL}img/vector-contruction.png`, alt="")
          -->
        </div>
      </section>
      <section class="chat" id="chat">
        <div class="chat__block">
          <div class="chat__img">
            <div class="chat__img__box"><img src="./assets/img/chat-image.png" alt=""/></div>
          </div>
          <div class="chat__title">
            <h2>¿Tienes alguna pregunta?</h2>
            <p>Escríbenos a nuestro chat y conversemos, estamos para apoyarte.</p>
          </div>
        </div>
      </section>
    </section>
    <footer class="footer" role="contentinfo">
      <div class="footer__img"><img src="./assets/img/logo-info-1.png" alt=""/></div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/slick/slick.min.js"></script>
    <script>
      $(()=>{
      	$('.team__box__slider').slick({
      		dots: true,
      		infinite: true,
      		speed: 300,
      		slidesToShow: 1,
      		adaptiveHeight: true
      	});
      
      
      })
    </script>
  </body>
</html>

src/pages/home.pug
extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section#home.home
		.banner-home
			ul.box-banner
				li.banner-bgc(style=`background-image: url('${STATIC_URL}img/banner.svg')`)
					//.banner__bgc__wrapp
						.banner__content__box
							p Información
							h3 Simple, directa y confiable
						.banner__button.nav-scroll
							a(href="#nosotros")
								.button__banner
									.button__banner__img
										img(src=`${STATIC_URL}img/1.png`, alt="")
									.button__text
										p ¿Quienes somos?
				//li.banner-bgc(style=`background-image: url('${STATIC_URL}img/banner.png')`)
					.banner__bgc__wrapp
						.banner__content__box
							p Información
							h3 Simple, directa y confiable
						.banner__button.nav-scroll
							a(href="#team")
								.button__banner
									.button__banner__img
										img(src=`${STATIC_URL}img/1.png`, alt="")
									.button__text
										p Equipo
				//li.banner-bgc(style=`background-image: url('${STATIC_URL}img/banner.png')`)
					.banner__bgc__wrapp
						.banner__content__box
							p Información
							h3 Simple, directa y confiable
						.banner__button.nav-scroll
							a(href="#chat")
								.button__banner
									.button__banner__img
										img(src=`${STATIC_URL}img/lapiz.png`, alt="")
									.button__text
										p Preguntas
			.bloque__blue
				.bloque__blue__text
					p www.veninformado.pe
		.nav-page.nav-scroll
			.nav-page-wrap
				.nav__item
					ul
						li
							a(href="#nosotros") Nosotros
						li
							a(href="#team") Informate
						li
							a(href="#chat") Consultas

	section.scroll-home
		section.nosotros#nosotros
			.nosotros__blck
				.nosotros__title
					h2 ¿Quiénes somos?
				.nosotros__text
					p Migrar es un proceso complejo que requiere información y preparación. En Ven Informado, buscamos consolidar toda la información necesaria en un solo lugar para ayudarte a preparar y consolidar con éxito tu nuevo proyecto de vida en Perú.
		section.team#team
			.team__block
				.team__text
					.team__title
						h2 Informate
					.team__parrafo
						p Estamos construyendo esta página web para darte información variada que te pueda ser de utilidad para comenzar una nueva vida en Perú. Mientras desarrollamos más contenido, te facilitamos algunos links de interés.
					.team__slider
						ul.team__box__slider
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 Interpol
								.text__slider__team
									p Interpol conoce la información sobre la Ficha de Canje Internacional para el proceso de PTP
										|	
										a(href="https://www.policia.gob.pe/direcciones_policiales/interpol_peru/index.html#") link
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 HELP ACNUR
								.text__slider__team
									p - ACNUR es la agencia de la ONU para los Refugiados, conoce su trabajo.
										|	
										a(href="http://help.unhcr.org/peru/") link
									p - ACNUR conoce el trabajo que hace por los venezolanos.
										|	
										a(href="http://www.acnur.org/noticias/videos/2018/7/5b4960914/accion-en-la-frontera-que-necesitan-los-venezolanos-cuando-llegan-a-peru.html") link
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 Enlace sobre salud
								.text__slider__team
									p - SIS es el Sistema de Salud de Perú, conoce más información (link)
										|	
										a(href="http://www.sis.gob.pe/Portal/productos/sisindependiente/index.html") link
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 Trámites Migratorios
								.text__slider__team
									p - Información general sobre el PTP.
										|	
										a(href="https://www.gob.pe/634-sacar-permiso-temporal-de-permanencia-ptp-para-venezolanos") link
									p - Conoce los pasos y solicita tu cita en línea para el PTP. 
										|	
										a(href="https://www.migraciones.gob.pe/index.php/ptp-venezolanos-3/") link
									p - Solicita el Permiso de Trabajo Extraordinario, para que pueda trabajar formalmente.
										|	
										a(href="https://sel.migraciones.gob.pe/web-permiso-trabajo/Citas-en-Linea-Terminos") link
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 Otros enlaces de interés
								.text__slider__team
									p - Trabajar en Perú: conoce toda la información legal.
										|	
										a(href="http://www.mintra.gob.pe/migrante/eres_extranjero_vive_peru_tramites_1.php") link
									p - Solicita tu permiso para firmar contratos. 
										|	
										a(href="https://www.migraciones.gob.pe/index.php/permiso-especial-para-firmar-contratos-pefc/") link
									p - Estudiar en Perú: conoce los pasos que debes realizar.
										|	
										a(href="https://www.gob.pe/477-revalidar-o-convalidar-estudios-primarios-y-o-secundarios-del-extranjero") link
									p - Revalidación de títulos universitarios venezolanos en Perú.
										|	
										a(href="https://enlinea.sunedu.gob.pe/orientacionreconocimiento") link
									p - Procedimiento para conducir en Perú.
										|	
										a(href="http://www.touring.pe/centro_examenes_otropais.html") link

										


				//.team__vector
					img(src=`${STATIC_URL}img/vector-contruction.png`, alt="")
		section.chat#chat
			.chat__block
				.chat__img
					.chat__img__box
						img(src=`${STATIC_URL}img/chat-image.png`, alt="")
				.chat__title
					h2 ¿Tienes alguna pregunta?
					p Escríbenos a nuestro chat y conversemos, estamos para apoyarte.

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			$('.team__box__slider').slick({
				dots: true,
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				adaptiveHeight: true
			});


		})
