src/pages/generals/buttom.pug
extends ./_common/base.pug
//- btn
block content


	a.btn.btn-enlace.btn-red( href='') Míralo Aquí
	a.btn.btn-enlace.btn-gray( href='') Pruébalo

	a.btn.btn-productos( href='') 
		span.text-btn Ver Producto

app/generals/buttom.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../assets/css/plugins.css"/>
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <title>Document</title>
  </head>
  <body class="undefined"><a class="btn btn-enlace btn-red" href="">Míralo Aquí</a><a class="btn btn-enlace btn-gray" href="">Pruébalo</a><a class="btn btn-productos" href=""> <span class="text-btn">Ver Producto</span></a>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
